<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="it.pagopa.interop.commons.logging.InverseThresholdFilter">
            <level>error</level>
        </filter>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="it.pagopa.interop.commons.logging.LoggerLayout" />
        </encoder>
    </appender>

    <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>error</level>
        </filter>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="it.pagopa.interop.commons.logging.LoggerLayout" />
        </encoder>
        <target>System.err</target>
    </appender>

    <appender name="ASYNC_STDOUT" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>8192</queueSize>
        <neverBlock>true</neverBlock>
        <appender-ref ref="STDOUT" />
    </appender>

    <appender name="ASYNC_STDERR" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>8192</queueSize>
        <neverBlock>true</neverBlock>
        <appender-ref ref="STDERR" />
    </appender>

    <logger name="akka.event" level="WARN" />
    <logger name="akka.remote" level="WARN" />
    <logger name="akka.cluster" level="WARN" />
    <logger name="akka.management" level="WARN" />
    <logger name="akka.projection" level="WARN" />
    <logger name="akka.persistence" level="WARN" />
    <logger name="akka.discovery.kubernetes" level="WARN" />
    <logger name="com.zaxxer.hikari" level="WARN" />
    <logger name="org.mongodb" level="WARN" />

    <logger name="it.pagopa.interop" level="INFO" />

    <root name="application" level="INFO">
        <appender-ref ref="ASYNC_STDOUT" />
        <appender-ref ref="ASYNC_STDERR" />
    </root>

</configuration>